.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #549eb3;
  text-decoration: none;
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 300;
}

.app-link:hover {
  text-decoration: underline;
}

.active-link {
  color: rgb(201, 25, 69);
}

body {
  background-color: lightgray;
}

.testing {
  text-align: center;
  padding: 15px;
}

.link {
  margin: 40px;
}

.images {
  margin: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}